.btn {
    width: 65%;
    height: 3rem;
    @include button-gradient;
    @include button-style;
    transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;
    @include desktop {
        margin-top: 3%;
    }
    @include tablette {
        margin-top: 6%;
    }
    &:hover {
        opacity: 0.80;
        box-shadow: $shadows-enhanced;
        cursor: pointer;
    }
    &--menu {
        margin: 2em 17.5% 8% 17.5%;
        @include desktop {
            width: 30%;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.nav-btn {
    width: 90%;
    height: 4.5rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: $colour-bkgr;
    margin-bottom: 6%;
    margin-right: 4%;
    @include button-style;
    @include desktop {
        width: 60%;
        background-color: white;
    }
    @include tablette {
        background-color: white;
    }
    &__numbers {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background-color: $colour-primary;
        border-radius: $radius;
        position: relative;
        text-align: center;
        left: -16px;
        color: color-text($colour-primary);
        font-size: 0.8rem;
        @include desktop {
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            left: -20px;
        }
    }
    &__icone {
        color: color-text($colour-bkgr);
        margin-right: 6%;
        margin-left: 2%;
        font-size: 1.1rem;
    }
    &:hover {
        background-color: $colour-primary-light;
        box-shadow: $shadows-enhanced;
        cursor: pointer;
        .nav-btn__icone {
            color: $colour-primary;
        }
    }
}