.loader {
    background: repeating-linear-gradient(10deg, color-text($colour-tertiary), $colour-secondary 40%, $colour-primary);
    width: 200px;
    height: 200px;
    border-radius: 250px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px groove color-text($colour-tertiary);
    position: absolute;
    top: 10rem;
    animation:loading $loading-time 0.1s cubic-bezier(.25, .20, .25,.20), fadein $fadein-time $loading-time ease-in reverse;
    animation-fill-mode: both;
    @include desktop {
        @include bigsize;
    }
    @include tablette {
        @include bigsize;
    }
    & .fa-utensils {
        line-height: 150px;
        font-size: 4.5rem;
        color: color-text($colour-tertiary);
        animation:loading-reverse $reverse-time 0.1s linear 3, fadein $fadein-time $loading-time ease-in reverse;
        animation-fill-mode: both;
        @include desktop {
            font-size: 6.5rem;
        }
        @include tablette {
            font-size: 6.5rem;
        }
    }
}