.logo {
    height: 1.6rem;
    margin-bottom: 2%;
    margin-top: 8%;
    @include desktop {
        height: 3.5rem;
        width: auto;
    }
    @include tablette {
        height: 2.5rem;
        width: auto;
    }
    &--main {
        animation: fadein 1.5s 1.5s linear;
        animation-fill-mode: both;
    }
    &--footer {
        height: 1rem;
        width: auto;
        margin-bottom: 1.1rem;
        margin-top: 0%;
        @include desktop {
            height: 1.8rem;
            margin-bottom: auto;
        }
        @include tablette {
            height: 1.2rem;
            margin: 0;
        }
    }
}