@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading {
    10% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(100deg);
    }
    60% {
        transform: rotate(200deg);
    }
    90% {
        transform: rotate(260deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loading-reverse {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}