/*MIXINS FOR TYPOGRAPHY*/
@mixin text-typography ($size){
    font-family: robotoregular, sans-serif;
    text-decoration: none;
    font-size: $size;
    color: black;
}

@mixin titles-typography($size) {
    font-family: robotoblack, sans-serif;
    text-decoration: none;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
    color: black;
}

@mixin menu-titles-typography($size) {
    font-family: shrikhandregular, sans-serif;
    text-decoration: none;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
    color: black;
}

/*MIXINS FOR BUTTONS */

@mixin button-gradient {
    background: linear-gradient(to top left, $colour-primary, $colour-secondary);
    color: $colour-bkgr;
    opacity: 1;
}

@mixin button-style {
    border: 0 none transparent;
    border-radius: 25px;
    box-shadow: $shadows;
    font-size: 1rem;
    font-weight: bold;
    @include desktop {
        font-size: 1.4rem;
        height: 5rem;
    }
    @include tablette {
        font-size: 1.1rem;
        height: 4.2rem;
    }
}

/*MIXINS FOR ANIMATION MENUS*/
@mixin delay {
    @for $i from 1 through 3 {
        &>div:nth-of-type(#{$i}n) {
            animation: fadein 0.5s;
            animation-delay: #{$i * 0.3}s;
            animation-fill-mode: both;
        }
    }
}

@mixin bigsize {
    width: 400px;
    height: 400px;
    border-radius: 300px;
}

/*MIXINS FOR RESPONSIVE*/
@mixin tablette {
    @media (min-width: map-get($map: $breakpoints, $key: "tablette-min")) and (max-width: map-get($map: $breakpoints, $key: "tablette-max")) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: map-get($map: $breakpoints, $key: "desktop-min")) {
        @content;
    }
    
}

@mixin nav-recherche-pattern {
    height: auto;
    background-color: $colour-bkgr;
    align-items: center;        
    border: $nav-border-desktop;
    margin: 0;
    padding-bottom: 2%;
}