/* COLORS */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-bkgr: hsl(0,0%,94%);

$colour-bkgr-dark: darken($colour-bkgr,4%);
$colour-bkgr-shadow: darken($colour-bkgr,14%);

$colour-primary-light: lighten($colour-primary,34%);
$colour-secondary-light: lighten($colour-secondary,8%);
$colour-gradient: linear-gradient(to top left, $colour-primary, $colour-secondary);

/* SHADOWS and BORDERS*/

$shadows : 3px 5px 7px 1px $colour-bkgr-shadow;
$shadows-enhanced : 5px 7px 3px 4px $colour-bkgr-shadow;
$radius-top: 20px 20px 0 0;
$radius: 20px;
$nav-border-desktop: 3px solid $colour-bkgr-dark;

/* ANIMATIONS */

$animation-time: 0.5s;
$loading-time: 1.5s;
$reverse-time: ($loading-time / 3);
$fadein-time: 1s;

/* BREAKPOINTS FOR RESPONSIVE */

$breakpoints : (
    "tablette-min": 760px,
    "tablette-max": 1024px,
    "desktop-min": 1025px,
);
