.article {
    background-color: $colour-bkgr;
    width: 100%;
    z-index: 2;
    position: relative;
    border-radius: $radius-top;
    padding-top: 10%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include desktop {
        padding-top: 5%;
    }
    &__heading {
        width: 90%;
        margin-left: 4%;
        height: 4rem;
        @include desktop {
            margin: auto;
        }
    }
    &__menu {
        width: 100%;
        @include delay;
        @include desktop {
            padding: 5% 0 10% 0;
            margin-bottom: 0%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            & h2 {
                width: 16%;
                margin-top: 5%;
            }
        }
        @include tablette {
            margin-bottom: 0%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            & h2 {
                text-align: center;
                width: 100%;
                margin: 0;
            }
        }
    }
}

.menu-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    @include desktop {
        width: 29%;
        margin-bottom: 8%;
    }
    @include tablette {
        width: 60%;
        margin-bottom: 5%;
    }
    &__btn {
        width: 90%;
        height: 5.5em;
        background-color: white;
        border: none;
        padding: 0% 0% 0% 2%;
        border-radius: $radius;
        margin-top: 0%;
        margin-bottom: 5%;
        box-shadow: $shadows;
        overflow: hidden;
        &:hover {
            box-shadow: $shadows-enhanced;
            cursor: pointer;
            .menu-thumbnail__btn--check {
                    transform: translateX(-100%);
                    transition: transform $animation-time ease-out;
                    &--logo {
                        transform: rotate(1turn);
                        transition: transform $animation-time ease-out 0.15s;
                    }
            }
            .menu-thumbnail__btn--subtitle {
                &--price {
                    transform: translateX(-100%);
                    transition: transform $animation-time ease-out;
                }
                &--txt {
                    width: 60%;
                    transition: width $animation-time ease-out;
                }
            }
            .menu-thumbnail__btn--title h3 {
                width: 60%;
                transition: width $animation-time ease-out;
            }
        }
        &--title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            width: auto;
            height: 100%;  
            & h3 {
                width: 100%;
            } 
        }
        &--subtitle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 40%;
            margin: 1% 0 1% 0;
            flex-wrap: nowrap;
            align-self: flex-end;
            &--txt {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 80%;
                height: 100%;
                @include text-typography(0.8rem);
            }
            &--price {
                @include text-typography(1rem);
                width: 5.5em;
                text-align: right;
                height: 100%;
                margin-right: 3%;
                @include desktop {
                    @include text-typography(1.2rem);
                }
            }
        }
        &--check {
            background-color: $colour-tertiary;
            float: right;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -100%;
            right: -6em;
            width: 5.5em;
            height: 5.5em;
            border-radius: 0 20px 20px 0;
            &--logo {
                color: white;
                font-size: 2rem;
                line-height: 5.5em;
            }
        }
    }
}
