header {
    padding: 2% 0 0 0;
    margin: 0;
}

.header__icone {
    display: inline-block;
    position: relative;
    top: -0.6rem;
    left: -5.5rem;
    @include desktop {
        top: -1.5rem;
        left: -15rem;
        font-size: 2rem;
    }
    @include tablette {
        font-size: 1.5rem;
        left: -9.5rem;
        top: -0.9rem;
    }
}