$PRIMARY_COLOR: #001250;
$SECONDARY_COLOR: #f5f5f5;
$TERTIARY_COLOR: #f5d76e;
$FLASH_COLOR: #00aa55;

$SHADOWED_PRIMARY_COLOR: #00125020;
$SHADOWED_SECONDARY_COLOR: #f5f5f520;
$SHADOWED_COLOR_DARK: #00000097;

$HOME_SHADOWS: hsla(0, 0%, 100%, 0.2) 2.5px 2.5px;
$CUSTOM_SHADOWS: hsla(61, 98%, 52%, 0.308) 2.5px 2.5px;

$PRIMARY_FONT: Cochin, Georgia, Times, "Times New Roman", serif;
$SECONDARY_FONT: "Courier New", Courier, monospace;
