footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 6% 0 6% 7%;
    margin-top: 0;
    background-color: black;
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 4% 2% 4% 2%;
    }
    @include tablette {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 4% 0 8% 0;
    }
    &>* {
        color: color-text(black);
    }
}

.footer__link {
    width: 100%;
    @include desktop {
        width: 20%;
    }
    @include tablette {
        width: 24%;
    }
    &--icones {
        font-size: 0.8rem;
        margin-right: 1%;
        @include desktop {
            font-size: 1.2rem;
        }
    }
    & #ico-fork {
        width: 1.25em;
    }
    &>* {
        color: color-text(black);
    }
}