.localisation {
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 15%;
    margin-bottom: 5%;
    height: auto;
    background-color: $colour-bkgr;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
        width: 49.5%;
        @include nav-recherche-pattern;
    }
    @include tablette {
        width: 49%;
        @include nav-recherche-pattern;
    }
    & p {
        display: inline-block;
        width:79%;
        text-align: center;
        margin-bottom: 8%;
    }
    &__heading {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 4%;
        background-color: $colour-bkgr-dark;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        @include desktop {
            background-color: $colour-bkgr;
        }
        @include tablette {
            background-color: $colour-bkgr;
        }
    }
}
.form {
    background-color: $colour-bkgr-dark;
    border: 0 none $colour-bkgr-dark;
    width: auto;
    height: 2rem;
    text-align: start;
    padding-bottom: 2%;
    margin-left: 6%;
    @include text-typography(1.1rem);
    font-weight: 500;
    &:focus {
        background-color: $colour-bkgr;
        color: color-text($colour-tertiary);
    }
    @include desktop {
        background-color: $colour-bkgr;
        margin-top: 10%;
        height: 2.5rem;
        @include text-typography(1.4rem);
    }
    @include tablette {
        background-color: $colour-bkgr;
        height: 2rem;
        @include text-typography(1.2rem);
        margin-top: 8%;
    }
}

.fa-map-marker-alt {
    margin-top: 0.6rem;
    margin-right: 0%;
    margin-left: 12%;
    font-size: 0.9rem;
    @include desktop {
        margin-top: 4.5%;
        margin-right: 2%;
        font-size: 1.3rem;
    }
    @include tablette {
        margin-top: 6.5%;
        margin-right: 2%;
        font-size: 1.1rem;
    }
}
