/*//// logos + titres ////*/

@font-face {
    font-family: 'shrikhandregular';
    src: url('../../assets/polices/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../assets/polices/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../../assets/polices/roboto-black-webfont.woff2') format('woff2'),
         url('../../assets/polices/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*//// texte ////*/

@font-face {
    font-family: 'robotoregular';
    src: url('../../assets/polices/roboto-regular-webfont.woff2') format('woff2'),
         url('../../assets/polices/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
/*///////////////////*/

h1 {
    @include titles-typography(1.4rem);
    margin-top: 5%;
    margin-bottom: 10%;
    @include desktop {
        @include titles-typography(2.3rem);
    }
}

article h1 {
    @include menu-titles-typography(1.6rem);
    margin-top: 0%;
    margin-right: 3rem;
    @include desktop {
        @include menu-titles-typography(2.2rem);
        text-align: center;
    }
    @include tablette {
        @include menu-titles-typography(2rem);
    }
}

h2
{
    @include titles-typography(1.4rem);
    margin-left: 3%;
    @include desktop {
        @include titles-typography(2rem);
    }
}

.article__menu h2 {
    font-family: robotoregular, sans-serif;
    margin: 1rem 0 1% 5%; 
}

h3 {
    @include titles-typography(1.2rem);
    margin-top: 1%;
    margin-bottom: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


p {
    @include text-typography(1.1rem);
    margin-top: 1%;
    margin-bottom: 0%;
    text-align: left;
    @include desktop {
        @include text-typography(1.5rem);
    }
}

a {
    @include text-typography(1.1rem);
    @include desktop {
        @include text-typography(1.4rem);
    }
}
